section {
    width: 100%;
    margin: auto;
}


main {
    height: 400px;
    width: 100%;
    background-color: gold;
}

nav {
    height: 50px;
    width: 100%;
    background-color: aqua;
}

header {
    height: 50px;
    width: 100%;
    background-color: blue;
    
    
}

footer {
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    
}